/* Styles */

/*****************************************************/
/****************EGINBOOK-USO*************************/
/*****************************************************/

html{
	 margin:0;
	 padding:0;

}
body, h1, h2, h4, h5, h6 p{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: left;
}
.col-lg-12{
		position: relative;
		min-height: 1px;
		padding-left:unset;
		padding-right:unset;
}


header{
	height:100vh;
	padding-top:50vh;	
	background:url(../img/header.jpg) no-repeat center center scroll;
	webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.separador-seccion {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
    margin-bottom:20px;
}
b {
    font-size: 18px;
    font-weight: 400;S
}
.azul{
	background-color: #c2dee9;
}
.titulo h3{
	text-align: center;
}
.row{
	margin-left:0px;
	margin-right: 0px;
	padding-left: 10%;
	padding-right: 10%;
	
}

.seccion-gris{
	background-color: #f8f8f8;
   border-bottom:1px solid #E7E7E7;
   border-top:1px solid #E7E7E7;
}

/*****************************************************/
/****************EGINBOOK-QUE-ES*************************/
/*****************************************************/



#eginbook-que-es h3{
	text-align: left;
}
#eginbook-que-es .row{
	 padding-bottom: 60px;
	 padding-top: 40px;
	 padding-right:10%;
	 padding-left:10%;
	 
}

#eginbook-que-es img{
	width:100%;
	margin-top:20px;
	-webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
}

/*****************************************************/
/****************EGINBOOK-USO*************************/
/*****************************************************/

#eginbook-uso h3{
	text-align: left;
}

#eginbook-uso .row{
	 padding-bottom: 60px;
	 padding-top: 40px;
	 padding-right:10%;
	 padding-left:10%;
	 margin-left:0px;
	 margin-right: 0px;
}

#eginbook-uso img{
	width:100%;
	margin-top:20px;
	-webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
}

/*****************************************************/
/****************EGINBOOK-ACCESIBILIDAD***************/
/*****************************************************/


#eginbook-accesibilidad h3{
	text-align: left;
}
#eginbook-accesibilidad .row{
	 padding-bottom: 60px;
	 padding-top: 40px;
	 padding-right:10%;
	 padding-left:10%;
	 margin-left:0px;
	 margin-right: 0px;
}

#eginbook-accesibilidad img{
	width:100%;
	margin-top:20px;
	-webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
}

/*****************************************************/
/****************SERVICIOS****************************/
/*****************************************************/
#servicios{
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
}
#servicios h3{
	text-align: center;
	margin-bottom: 30px;
}
#servicios .categoria{
	margin-bottom:30px;
}
#servicios .row{
	padding-left:10%;
	padding-right:10%;
	
}
#servicios img{
	width:30px;
	height:30px;
}

/*****************************************************/
/****************DISPOSITIVOS*************************/
/*****************************************************/

#dispositivos{
	text-align: center;	
}
#dispositivos img{
	width:50%;
	
}

/*****************************************************/
/****************IMAGEN-FOOTER************************/
/*****************************************************/

#imagen-footer img{
	width:100%;
	height:400px;
}

/*****************************************************/
/****************FOOTER*******************************/
/*****************************************************/

footer .logo{

    width:93px;
    text-align:left; 	
}

footer .izquierda{
	 text-align:left; 	
}
 
 /*****************************************************/
/****************FIN-CSS- GENERALES********************/
/******************************************************/

 @media (max-width:650px){
	  
 	  #dispositivos img{
			width:100%; 	  
 	  }
 	  #imagen-footer img{
			height:200px; 	  
 	  }
	  footer .col-lg-6{		
		width:100% !important;
		float: none;
		
 	  }	 
	  #direccion{
    	padding-top: 0px;
   	padding-bottom:0px;
    	margin-bottom:30px;
     }
 	  
 }
 @media (max-width:767px)
 {
	 body{
		text-align: left;	 
	 }
	 #servicios .categoria{
			width:45%;
			padding:10px;
			display:inline-block;
			margin:0px;
			vertical-align: top;
			box-sizing:border-box;	 
	 }
	 #direccion p{
     margin: 0px 0 0px;
 	  }
	 
 }
 @media(max-width:300px){
	.separador-seccion{
		width:0px;	
	}	
	#eginbook-accesibilidad h3{
		font-size: 16px;
	}
	#eginbook-accesibilidad p{
		font-size: 12px;
	}
	#eginbook-que-es h3{
		font-size: 16px;
	}
	#eginbook-que-es p{
		font-size: 12px;
	}
	#eginbook-uso h3{
		font-size: 16px;
	}
	#eginbook-uso p{
		font-size: 12px;
	}

 }
 @media (max-width:1200px){
 	#direction{ 
		margin-top:0px;
		text-align: left;
	
	}
	footer .col-lg-6{
			float: left;
			width:50%;	
	}
	
	
}
@media (max-width:450px){
	#imagen-footer img{
			height:100px;
	}
}


